<div class="container">
  <div class="row">
    <div id="search" class='col-xs-10 col-xs-offset-1'>
      <h2>Look for recent earthquakes. Click on the markers for details</h2>
      <%= label_tag(:q, "Enter the name of a city:") %>
      <%= text_field_tag(:q) %><br>
      <button type="button" class="btn btn-info" id= "button1"> find earthquakes near this location</button>
    </div>
  </div>
</div>
<div class="col-xs-8 col-xs-offset-2" id="map-container">
  <div id="map-canvas"></div>
</div>
<div class="col-xs-6 col-xs-offset-3" id='list'>
  <a id='link' href="#"><b><u>Click here for a list of the ten most recent earthquakes</u></b></a>
</div>
<script>

  var map;
  var geocode = new google.maps.Geocoder();
  
  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(-34.397, 150.644),
      zoom: 4
    };
    map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
  }

  google.maps.event.addDomListener(window, 'load', initialize);

  $("#button1").click(function(){
    var north; 
    var east;  
    var south; 
    var west;  
    var city = $("input[type=text]").val();

    geocode.geocode({ address: city }, function(data, status){

      center = data[0].geometry.location
      bounds = data[0].geometry.bounds;
      // console.log(center);

      map.setCenter(center);
      map.panToBounds(bounds);

      // console.log(data[0].geometry.bounds.getNorthEast().lat());
      north = data[0].geometry.bounds.getNorthEast().lat() + 1
      east  = data[0].geometry.bounds.getNorthEast().lng() + 1
      south = data[0].geometry.bounds.getSouthWest().lat() - 1
      west  = data[0].geometry.bounds.getSouthWest().lng() - 1

      var earthquakes_string = "http://api.geonames.org/earthquakesJSON?"
      var earthquakes_url = earthquakes_string + "north=" + north + "&south=" + south + "&east=" + east + "&west=" + west + "&username=juandefelix"

      $.getJSON(earthquakes_url, function(data){

        var ary = data['earthquakes']

        infoWindow = new google.maps.InfoWindow({
          content: "holding..."
        });

        for(i = 0; i < ary.length; i++){

          lat = ary[i]['lat']
          longitude = ary[i]['lng']
          depth = ary[i]['depth']
          magnitude = ary[i]['magnitude']

          marker = new google.maps.Marker({
            position: new google.maps.LatLng(lat,longitude),
            map: map,
            title: 'Hello World!'
          });

          var contentArray = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<div id="bodyContent">'+
            '<p><b>latitude: </b>' + lat + '</p>'+
            '<p><b>longitude: </b>' + longitude + '</p>'+
            '<p><b>depth: </b>' + depth + '</p>'+
            '<p><b>magnitude: </b>' + magnitude + '</p>'+
            '</div>'+
            '</div>';
            
          bindInfoWindow(marker, map, infoWindow, contentArray);
        } // end for

        function bindInfoWindow(marker, map, infowindow, strDescription) {
          google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent(strDescription);
              infowindow.open(map, marker);
          });
        }
      }) // end geonames ajax
    }) // end geocode call
  }) // end click

  // format the date
  var dateTime = new Date();
  var isoDate = dateTime.toISOString()
  var formattedTime = isoDate.match(/\d{4}-\d{2}-\d{2}/)[0]

  // console.log(formattedTime)

  //string for the geonames request
  var recentEarthquakesStr = 'http://api.geonames.org/earthquakesJSON?north=90&south=-90&east=90&west=-90&maxRows=10&username=juandefelix&date=' + formattedTime

  $("#link").click(function(){
    $.getJSON(recentEarthquakesStr, function(data){
      console.log(data['earthquakes'])
      var earthqList = ['<ul>']
      $.each(data['earthquakes'], function(i, item) {

          var depth = item['depth']
          var magn = item['magnitude']
          var date = item['datetime'].match(/\d{4}-\d{2}-\d{2}/)[0]
          var lat = item['lat']
          var lng = item['lng']

          earthqList.push('<li><b>Date: </b>'+ date +  
                     '<b> Magnitude: </b>'+ magn + 
                     '<b> Depth: </b>' + depth +
                     '<b> Latitude: </b>' + lat +
                     '<b> Longitude: </b>' + lng + '</li>');
      });  // close each()
      earthqList.push("</ul>")
      // console.log(earthqList.join(''))
      $('#list').append( earthqList.join('') )
      location.hash = "#list"; // focus the page in the element with the id #...
    })
  })
</script>
