<h1>Look for recent earthquakes with GeoNames</h1>
<div>
    <%= label_tag(:q, "Enter the name of a city:") %>
    <%= text_field_tag(:q, 'Madrid') %>
    <span class="button"> find earthquakes near this location </span>
</div>


<script>
  console.log("this is working")
  $(".button").click(function(){

    var city = $("input[type=text]").val()
    var url_string = 'http://maps.google.com/maps/api/geocode/json?address='
    var location_url = url_string + city + "&sensor=false"

    $.getJSON(location_url, function(data){

        var north = data['results']['0']['geometry']['bounds']['northeast']['lat'] + 1
        var south = data['results']['0']['geometry']['bounds']['southwest']['lat'] - 1
        var east  = data['results']['0']['geometry']['bounds']['northeast']['lng'] - 1
        var west  = data['results']['0']['geometry']['bounds']['southwest']['lng'] + 1

        $('.coordenates').hide()

        $('body').append("<p class='coordenates'>North is " + north + "</p>")
        $('body').append("<p class='coordenates'>South is " + south + "</p>")
        $('body').append("<p class='coordenates'>East is " + east + "</p>")
        $('body').append("<p class='coordenates'>West is " + west + "</p>")

        $('body').append("<img src='http://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=terrain&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318&markers=color:red%7Clabel:C%7C40.718217,-73.998284'>")

        var earthquakes_string = "http://api.geonames.org/earthquakesJSON?"
        var earthquakes_url = earthquakes_string + "north=" + north + "&south=" + south + "&east=" + east + "&west=" + west + "&username=demo"

        $.getJSON(earthquakes_url, function(data){

          var earthquakes = data['earthquakes']
        })
    })
  })
</script>
